* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}
/*              ПЕРВЫЙ БЛОК                */
.upperblock {
    background-color: #181818;
}
.upperblock-header-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 24px 140px 24px 152px;
}
.upperblock-header-links a {
    color: #FFFFFF;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    padding-right: 32px;
}
.upperblock-linksbutton button {
    border-radius: 14px;
    padding: 9px 20px 13px;
    letter-spacing: 0.4px;

    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
