* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}
/*              ПЕРВЫЙ БЛОК                */
.upperblock {
    background-color: #181818;
}
.upperblock-header-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 24px 140px 24px 152px;
}
.upperblock-header-links a {
    color: #FFFFFF;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    padding-right: 32px;
}
.upperblock-linksbutton button {
    border-radius: 14px;
    border: none;
    padding: 9px 20px 13px;
    letter-spacing: 0.4px;
    cursor: pointer;

    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
/*              ВТОРОЙ БЛОК                */
.aperturestudios {
    background-image: url("./img/aperturestudios.png");
    background-size: cover;
    height: 716px;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.aperturestudios-title {
    text-align: center;
    max-width: 580px;
    margin: 0 auto;
}
.aperturestudios-title p {
    color: #C0C0C0;
    font-size: 14px;
    line-height: 20px;
}
.aperturestudios-note {
    letter-spacing: 2px;
    text-transform: uppercase;
}
.aperturestudios-title h1 {
    color: #FFFFFF;
    font-size: 54px;
    line-height: 59px;
    padding-top: 1px;
}
.aperturestudios-text {
    padding-top: 18px;
    text-align: center;
}
.photoparameters {
    color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    padding: 14px 40px 40px
}
.photoparameters-lowerdata {
    display: flex;
    gap: 6px;
}
.photoparameters-lowerdata sub {
    font-size: 12px;
    line-height: 12px;
}
/*               ТРЕТИЙ БЛОК                 */
.whatwedo {
    background-color: #000000;
    padding: 113px 136px 100px;
}
.whatwedo-title {
    text-align: center;
}
.whatwedo-title h2 {
    color: #FFFFFF;
    font-size: 40px;
    line-height: 42px;
}
.whatwedo-title p {
    color: #C0C0C0;
    font-size: 23px;
    line-height: 30px;
    padding-top: 15px;
}
.whatwedo-photos {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-top: 42px;
}
.whatwedo-photo {
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: flex-end;
    flex: 1 1 calc(50% - 16px);
}
.product {
    background-image: url("./img/product.png");
}
.architecture {
    background-image: url("./img/architecture.png");
}
.drone {
    background-image: url("./img/drone.png");
}
.wildlife {
    background-image: url("./img/wildlife.png");
}
.textinsidephoto {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px 30px;
}
.whatwedo-note {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.whatwedo-text {
    color: #C0C0C0;
    font-size: 14px;
    line-height: 20px;
    padding-top: 10px;
}
.textinsidephoto button {
    color: #000000;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    padding: 5px 15px 5px 5px;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 17px;
    border-radius: 14px;
    cursor: pointer;
}
/*                   ЧЕТВЁРТЫЙ БЛОК                  */
.sunsetfuji {
    background-image: url("./img/fuji.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}
.fuji {
    padding-right: 62px;
}
.fuji-note {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.fuji-text {
    color: #C0C0C0;
    font-size: 14px;
    line-height: 20px;
    width: 298px;
}
.fuji-japan {
    color: #FFFFFF;
    gap: 16px;
    display: flex;
    padding: 204px 40px 45px 0;
}
.photoparameters-fujijapan {
    gap: 6px;
    display: flex;
}
.photoparameters-fujijapan sub {
    font-size: 12px;
    line-height: 12px;
}
/*                   ПЯТЫЙ БЛОК                  */

